/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.reciepe {
  width: 80%;
  margin: 0 auto;
}
.calculator {
  margin: 50px 0;
}
.calculator * {
  color: #250633 !important;
}
.row {
  display: flex;
}
.calculator option {
  color: white;
  margin: 10px 0 !important;
}
.calculator > .row:first-child > div:first-child {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
.calculator > .row {
  display: flex;
  margin: 40px 0;
}
.calculator > .row > div {
  flex: 1;
  flex-direction: column;
  border-bottom: 1px solid #250633;
  padding: 5px;
  margin-right: 15px;
}
.reciepe__description--text {
  font-size: 14px;
  margin-bottom: 10px;
}
.calculator select,
.calculator input {
  background: transparent;
  outline: none;
  border: none;
  font-size: 18px;
}
.half--select {
  display: flex;
  justify-content: space-between;
}
.select--big {
  width: 100%;
}
.result--container {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 30px auto;
  justify-content: space-between;
}
.calculate--button {
  width: max-content;
  position: relative;
  overflow: hidden;
}

#calculate--button {
  padding: 16px 32px 13px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--second-color);
  color: var(--second-color);
  font-size: 16px;
  font-weight: 700;
  transition: color 300ms ease, transform 300ms ease;
}
#calculate--button:hover,
#calculate--button:focus {
  color: #fff;
  cursor: pointer;
}
#calculate--button:active {
  transform: scale(0.8);
}
#calculate--button:hover + #calculate--button--overlay,
#calculate--button:focus + #calculate--button--overlay {
  transform: translateY(calc(-100% + 2px));
}
#calculate--button--overlay {
  background-color: #534e4a;
  height: calc(100% + 2px);
  width: 100%;
  position: absolute;
  bottom: calc(-100% - 2px);
  left: 0;
  z-index: -1;
  transition: transform 300ms ease;
}
#calculate--button:active + #calculate--button--overlay {
  transform: translateY(calc(-100% + 2px)) scale(0.8);
}
.converter h4 {
  margin-bottom: 20px;
  font-size: 18px;
}
.converter--wrapper,
.converter--container__input--container {
  display: flex;
  text-align: center;
}
.converter--container__input--container {
  justify-content: center;
}
.converter__country--container {
  flex: 1;
}
.converter__country--container h6 {
  margin-bottom: 10px;
  font-size: 16px;
}
.converter__country--container input {
  margin-left: 10px;
  font-size: 20px;
  padding: 3px;
  border: none;
  outline: none;
}
.line {
  background: #534e4a;
  height: 1px;
  width: 50%;
  margin: 0 auto;
}
.converter__country--container img {
  width: 38px;
  object-fit: contain;
}
.converter {
  margin-bottom: 50px;
}
/* media */
@media screen and (max-width: 980px) {
  .calculator > .row:first-child,
  .calculator > .row:nth-child(3) {
    flex-direction: column;
  }
  .calculator > .row:first-child > div,
  .calculator > .row:nth-child(3) > div {
    margin-bottom: 10px;
  }
  .converter--wrapper{
    flex-direction: column;
  }
  .converter--wrapper > div{
    margin-bottom: 20px;
  }
  .line{
    margin-top: 10px;
  }
  .converter > h4 {
    font-size: 30px;
    text-align: center;
    margin: 30px 0;
  }
  .converter{
    margin-top: 60px;
  }
  .reciepe__description--text{
    font-size: 11px;
  }
  .calculator input {
    font-size: 14px;
  }
  .calculator select{
    font-size: 12px;
  }
  .calculator > .row{
    margin: 10px 0;
  }
  .calculator > .row:first-child > div:first-child{
    font-size: 12px;
  }
  .result--container{
    width: 80%;
  }
  .reciepe{
    width: 90%;
  }
}

@media screen and (max-width: 500px) {

  .calculator > .row:nth-child(2) {
    flex-direction: column;
  }
  .calculator > .row:nth-child(2) > div {
    margin-bottom: 10px;
  }
  .reciepe{
    width: 97%;
  }
  .result--container {
    width: 95%;
  }
}


