@font-face {
  font-family: raleway ;
  src: url('./Fonts/Raleway-Medium.ttf');
}
:root {
  --main-color: #5FCBF4;
  --second-color: #7000AC;
}
body{
  overflow-x: hidden;
}
.hiddenBody{
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: raleway;
}
