footer {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  padding: 30px;
}
footer img {
  margin: 0 auto;
  width: 155px;
}
footer > * {
  display: flex;
  justify-content: center;
  padding: 8px;
  color: white;
}
footer > * > *:not(:last-child) {
  margin-right: 20px;
}
.footer__media > div {
  background-color: var(--main-color);
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.footer__media > div:hover {
  background-color: var(--second-color);
}
.footer__media div a {
  color: white;
  font-size: 28px;
}
